.container{
    display: grid;
    grid-template-columns:500px;
    grid-template-rows: 250px;
    margin: 20px auto;
    justify-items: center;
    align-items: center;

}
.button{
    width: 70%;
    height: 25%;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 600;
    background-color: aqua;
    border:none;
    text-transform: uppercase;
    border-radius: 2rem;
    transition: background-color 0.3s, box-shadow 0.2s ease;
}
.button:hover{
    cursor: pointer;
    box-shadow: 12px 18px 20px 0px gray ;
    color: rgb(23, 240, 240);
    background-color: rgb(48, 45, 45);
    
}
.button:active{
    cursor: pointer;
    box-shadow: 6px 9px 10px -4px gray;
    color: rgb(23, 240, 240);
    background-color: rgb(48, 45, 45);
    
}
