@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.8rem rgba(85, 197, 122, 0.5);
          box-shadow: 0 0 0 0.8rem rgba(85, 197, 122, 0.5);
}

html {
  font-size: 60%;
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 60%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.heading-secodary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
  letter-spacing: .2rem;
}

.heading-secodary:hover {
  -webkit-transform: skewY(3deg) skewX(15deg) scale(1.1);
          transform: skewY(3deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.section-padding {
  padding: 0 2.4rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  opacity: 0;
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  color: #777;
  background-color: #fff;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  color: #fff;
  background-color: #55c57a;
}

.btn--green::after {
  background-color: #55c57a;
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.btn--animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  border-radius: 2px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  z-index: 10;
  outline-offset: 2rem;
}

.composition__photo-p1 {
  left: 0;
  top: -2rem;
}

.composition__photo-p2 {
  right: 0;
  top: 2rem;
}

.composition__photo-p3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  -webkit-transform: scale(1.1) translateY(-1rem);
          transform: scale(1.1) translateY(-1rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline: 1.5rem solid #55c57a;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.features--card {
  gap: 2.4rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 4.5rem 2.5rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.features--card-icon {
  display: inline-block;
  width: 6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}

.features--card-text {
  text-align: center;
}

.features--card:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 52rem;
}

.card__side {
  height: 52rem;
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side-front {
  background-color: #fff;
  color: inherit;
}

.card__side-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side-back-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7730), to(#ffb900));
  background: linear-gradient(180deg, #ff7730, #ffb900);
}

.card__side-back-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#28b485), to(#7ed56f));
  background: linear-gradient(180deg, #28b485, #7ed56f);
}

.card__side-back-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5643fa), to(#2998ff));
  background: linear-gradient(180deg, #5643fa, #2998ff);
}

.card:hover .card__side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7730), to(#ffb900)), url(../img/nat-5.jpg);
  background-image: linear-gradient(180deg, #ff7730, #ffb900), url(../img/nat-5.jpg);
}

.card__picture-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#28b485), to(#7ed56f)), url(../img/nat-6.jpg);
  background-image: linear-gradient(180deg, #28b485, #7ed56f), url(../img/nat-6.jpg);
}

.card__picture-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5643fa), to(#2998ff)), url(../img/nat-7.jpg);
  background-image: linear-gradient(180deg, #5643fa, #2998ff), url(../img/nat-7.jpg);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  width: 74%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__heading-span-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading-span-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__details {
  padding: 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  gap: 8rem;
}

.card__price-box {
  gap: 2rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  position: relative;
}

.story__img {
  -webkit-transform: translateX(-4rem) scale(1.4);
          transform: translateX(-4rem) scale(1.4);
  height: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  opacity: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story:hover .story__caption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.story:hover .story__img {
  -webkit-filter: blur(0.3rem) brightness(50%);
          filter: blur(0.3rem) brightness(50%);
  -webkit-transform: translateX(-4rem) scale(1);
          transform: translateX(-4rem) scale(1);
}

.story__grid {
  row-gap: 4.8rem;
}

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99999;
  opacity: 0.2;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  font-family: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.99);
  width: 90%;
  display: block;
  border: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input::-webkit-input-placeholder {
  font-family: inherit;
  color: #999;
}

.form__input:focus {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #28b485;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding: 4.5rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -4;
}

.form__radio-button::after {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup__close, .popup__close:link, .popup__close:visited {
  text-decoration: none;
  font-size: 3rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 1;
  display: block;
  color: #777;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popup__close:hover, .popup__close:link:hover, .popup__close:visited:hover {
  color: #28b485;
}

.popup__close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup__content {
  width: 75%;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .5s .2s;
  transition: all .5s .2s;
}

.popup__left {
  width: 33.3333%;
  display: table-cell;
}

.popup__right {
  width: 66.666%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
  position: relative;
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__text {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-column-rule: 1px solid #000;
          column-rule: 1px solid #000;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.header {
  height: 95vh;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 9.6rem;
          column-gap: 9.6rem;
}

.grid-column-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-column-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-column-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer {
  grid-column-gap: 2.6rem;
}

.footer__logo-box {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 5.6rem;
}

.footer__logo {
  height: 9.4rem;
}

.footer__navigation {
  border-top: 3px solid #28b485;
}

.footer__navigation ul {
  list-style: none;
  width: 100%;
  margin-top: 1.5rem;
}

.footer__navigation ul li {
  display: inline-block;
  padding: 1rem 1.5rem;
}

.footer__navigation ul li a {
  text-decoration: none;
  color: #28b485;
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.footer__navigation ul li a:hover {
  background-color: #000;
  -webkit-box-shadow: 1rem 1.5rem 3rem black;
          box-shadow: 1rem 1.5rem 3rem black;
  -webkit-transform: skewY(-9deg);
          transform: skewY(-9deg);
}

.footer__copyright {
  border-top: 3px solid #28b485;
}

.footer__copyright .copyright {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-color: #fff;
  z-index: 200000000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 100000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000001;
  width: 0;
  opacity: 0;
  -webkit-transition: opacity .5s, width .6s;
  transition: opacity .5s, width .6s;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}

.navigation__icon {
  position: relative;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  content: "";
  width: 3rem;
  height: 2px;
  background-color: #999;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__icon::after {
  top: -.8rem;
}

.navigation__icon::before {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: 1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: -1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0;
}

.section-features {
  padding: 20rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/nat-4.jpg);
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10%;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 30rem 0 15rem 0;
  margin-top: -25rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  background: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 30rem;
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.book__form {
  width: 50%;
  padding: 6rem;
}

.footer {
  background-color: #1b1b1b;
  padding: 15rem 15rem;
}
/*# sourceMappingURL=main.css.map */