.u-center-text{
    display: flex;
    justify-content: center;
}
.u-margin-bottom-big{
    margin-bottom: 8rem !important;
}
.u-margin-top-big{
    margin-top: 8rem;
}
.u-margin-top-huge{
    margin-top: 10rem;
}
.u-margin-bottom-small{
    margin-bottom: 1.2rem;
}
.u-margin-bottom-medium{
    margin-bottom: 4rem !important;
}
.container{
    max-width: 130rem;
    margin: 0 auto;

}
.section-padding{
    padding: 0 2.4rem;
}
.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    

}

