.grid{
    display: grid;
    column-gap:9.6rem;

}
.grid-column-2{
    grid-template-columns: repeat(2,1fr);
}
.grid-column-3{
    grid-template-columns: repeat(3,1fr);
}
.grid-column-4{
    grid-template-columns: repeat(4,1fr);
}